<?xml version="1.0"?>

<!-- launching drone control and openCV node-->
<launch>
  	    <node name="drone_control" pkg="group_project" type="drone_control" output="screen" launch-prefix="gnome-terminal --command" />
	<!-- <node name = "OpenCV1" pkg="group_project" type="ros_simulation_data.py" output="screen" launch-prefix="xterm -e"/> -->
        <!-- <node name = "OpenCV" pkg="group_project" type="RGB_visual_ros_sim.py" output="screen" launch-prefix="gnome-terminal command"/> -->
</launch>
