<robot name="test_model">
  
<link name="my_link">
   <inertial>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <mass value="1"/>
     <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
   </inertial>

   <visual name="Box1">
     <origin xyz="5 0 0" rpy="0.05 0 0.7853" />
     <geometry>
       <box size="10 2 0.1" />
     </geometry>
     <material name="Cyan">
       <color rgba="0 1.0 1.0 1.0"/>
     </material>
   </visual>
    
   <visual name="Box2">
     <origin xyz="6.06066 -4.59619 0" rpy="0.05 0 0.7853" />
     <!-- centers nella configurazione 0 x=7.82843, y=-2.82843-->
     <geometry>
       <box size="5 2 0.1" />
     </geometry>
     <material name="Cyan">
       <color rgba="0 1.0 1.0 1.0"/>
     </material>
   </visual>
   
   <visual name="Box3">
     <origin xyz="8.88913 -7.42461 0" rpy="0.05 0 0.7853" />
      <!-- centers nella configurazione 0 x=10.6569, y=--5.65685--> 
     <geometry>
       <box size="5 2 0.1" />
     <!-- length confg 0  10, 2--> 
     </geometry>
     <material name="Cyan">
       <color rgba="0 1.0 1.0 1.0"/>
     </material>
   </visual>

   <visual name="Box4">
     <origin xyz="13.4853 -8.48528 0" rpy="0.05 0 0.7853" />
     <geometry>
       <box size="10 2 0.1" />
     </geometry>
     <material name="Cyan">
       <color rgba="0 1.0 1.0 1.0"/>
     </material>
   </visual>

   <collision>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
       <cylinder radius="1" length="0.5"/>
     </geometry>
   </collision>
 </link>
</robot>



