<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find cvg_sim_gazebo)/worlds/curve3_short_testworld.world"/-->
    <arg name="world_name" value="$(find cvg_sim_gazebo)/worlds/curve3_short_testworldBLUE5.world"/>
  </include>

  <!-- Spawn simulated quadrotor uav  -->
  
  <include file="$(find cvg_sim_gazebo)/launch/spawn_quadrotor.launch" > 
    <arg name="model" value="$(find cvg_sim_gazebo)/urdf/quadrotor_sensors.urdf.xacro"/> 
  </include> 

<!-- camera box-->
 <!--Drone navigation -->
<!--include file="$(find group_project)/launch/drone_nav.launch" pass_all_args="true" /-->

</launch>
