<?xml version="1.0"?>
<launch>

  <!-- Spawn box model -->
  <!-- <arg name="wname" default="worlds/block_testworld.world"/>
  <arg name="world_name" value="$(find cvg_sim_gazebo)/$(arg wname)"/> -->

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched  -->
  <!-- Empty World: ~/worlds_backup/empty.world
       Ardrone World: ~/worlds/ardrone_testworld.world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find cvg_sim_gazebo)/worlds/curve3_short_testworld.world"/>
  </include>
</launch>
